html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.navbar-item {
  height: 100px;
}

.navbar {
  width: 100%;
  height: 100px;
}

.nav-links {
  justify-content: space-between;
  flex-grow: 1;
  gap: 30px;
}

.menu {
  display: none;
}
.menu>img{
   max-height:80px;
   max-width: 60px;
}
.navbar-item img {
  height: 100%;
  width: 150px;

}

.navbar-item {
  justify-content: space-between;
  align-items: center;
}

.navbar-item>ul {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.welcome p {
  max-width: 800px;
}

section {
  min-height: 100dvh;
  margin-bottom: 30px;
}

.welcome {
  padding: 20px;
  align-items: center;
  text-align: center;
}

.welcome>div {
  width: 100%;
  justify-content: space-around;
}

.word {
  color: #21DADB;
}

.slide>img {
  width: 50%;
  height: 30%;
}

.about-section {
  align-items: center;
}

.about>div {
  margin: 20px;
  height: 55vh;
  flex: 1;
  text-align: center;
}

.welcome>p,
.welcome>div {
  margin-top: 5%;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slides-container {
  height: calc(100vh - 4rem);
  max-width: 500px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

.slide-arrow {
  font-size: 2em;
  color: #4d94e6;
  border: #f3f6fe;
  background-color: #f3f6fe;

}

.expertise-item {
  flex: 1;
}

.slide {
  flex: 0 0 100%;
  margin: 0px;
}

.deliver-middle img {
  width: 30%;
  height: 25%;
}

.partner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card-item,
.methodology-item,
.deliver-item {
  max-width: 400px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.deliver-item {
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.border {
  border: 2px solid #4D94E6;

}

.card-item>img {
  width: 30%;
  height: 30%;
  border-radius: 500px;
  border: 3px solid #35BBDF;
}

.deliver-middle {
  gap: 10px;
}

.methodology-item>img {
  max-width: 40%;
}

.footer {
  padding: 20px 0;
  text-align: center;
}

.footer-content h3 {
  margin: 0;
  font-size: 1.5em;
}

.footer-content p {
  font-size: 1em;
  margin: 5px 0 15px;
}

.footer-links a {
  text-decoration: none;
  font-size: 1.1em;
  margin: 10px;
}

.footer-bottom {
  padding-top: 10px;
  font-size: 0.9em;
  color: #aaa;
}

.back-to-top {
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  float: right;
  margin-right: 20px;
}

.circle-image {
  width: 200px;
  height: 200px;
  background-image: url('./../assets/part-logo.png');
  background-size: cover;
  border-radius: 50%;
  transition: transform 0.3s ease-out;
}

@media (max-width: 760px) {
  .navbar-item ul {
    display: none;
  }

  .menu {
    display: block;
  }

  .deliver-middle {
    flex-direction: column;
    align-items: center;
  }

  .about {
    flex-direction: column;
  }

  .welcome-item {
    flex-direction: column;
  }

  .slides-container {
    max-width: 300px;
  }

  .expertise {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    font-weight: bold;
    top: 100px;
    left: 0;
    background-color: #f3f6fe;
    width: 100%;
    height: 100vh;
    z-index: 2;
  }

  .navbar-item {
    flex-direction: row;
  }

  .menu {
    display: block;
  }

  .nav-links.show {
    display: flex;
  }
}
