.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}
.row{
  flex-direction: row;
}
.justify-content {
  justify-content: center;
  align-items: center;
}
.full-width{
  width: 100%;
}


